<html>
<head>
<link rel="stylesheet" type="text/css" href="View/test_style.css">
<script src="jquery-3.5.1.js"></script>
<script type="text/javascript">
		var enemies;
		var characters;
		$(document).ready(function(){
			$.get("index.php/?target=CombatSetup&action=loadEnemies",function(data){
				enemies=JSON.parse(data).enemies;
				for(var i=0;i<enemies.length;i++){
					console.log(enemies[i].enemy_id);
					$("#enemy_list").append("<tr><td onclick='changeCurrentlySelectedEnemy("+(i+1)+")' class='selector enemy_selector'>"+enemies[i].name+"</td></tr>");
				}
			});
			$.get("index.php/?target=CombatSetup&action=loadCharacters",function(data){
				characters=JSON.parse(data).characters;
				for(var i=0;i<characters.length;i++){
					//console.log(enemies[i].enemy_id);
					$("#character_list").append("<tr><td onclick='changeCurrentlySelectedCharacter("+(i+1)+")' class='selector friendly_selector'>"+characters[i].name+"</td></tr>");
				}
			});
		});
    	var arrEnemy=[];
    	var arrFriendly=[];
    	var selectedEnemy=0, selectedEnemyName='',selectedCharacter=0, selectedCharacterName='';
    		for(var x=0;x<5;x++){
    		arrEnemy[x]=[];
    		arrFriendly[x]=[];
    		for(var y=0;y<5;y++){
    			arrEnemy[x][y]=0;
    			arrFriendly[x][y]=0;
    		}
    	}
    	function makeSetup(){
    		var setupTextChar=document.getElementById('setup_char');
    		setupTextChar.value=JSON.stringify(arrFriendly);
    		var setupTextEnemy=document.getElementById('setup_enemy');
    		setupTextEnemy.value=JSON.stringify(arrEnemy);
    	}
    	function changeCurrentlySelectedEnemy(ind){
    		var enemySelectors=document.getElementsByClassName("enemy_selector")
    		enemySelectors[selectedEnemy].className="selector enemy_selector"
    		selectedEnemy=ind
    		selectedEnemyName=enemySelectors[ind].innerHTML
    		enemySelectors[ind].className="selector_selected enemy_selector"
    	}
    	function changeCurrentlySelectedCharacter(ind){
    		var friendlySelectors=document.getElementsByClassName("friendly_selector")
    		if(selectedCharacter!=0){
    			friendlySelectors[selectedCharacter-1].className="selector friendly_selector"
    		}
    		selectedCharacter=ind
    		selectedCharacterName=friendlySelectors[ind-1].innerHTML
    		friendlySelectors[ind-1].className="selector_selected friendly_selector"
    	}
    	function placeEnemy(x,y){
    		console.log(selectedEnemy);
    		if(selectedEnemy == 0){
    			arrEnemy[x][y] = 0;
    		} else {    		
    			arrEnemy[x][y] = enemies[selectedEnemy-1].enemy_id;
    		}
    		var enemyFields = document.getElementsByClassName('enemy_field');
    		enemyFields[x+y*5].innerHTML = selectedEnemyName;
    	}
    	function placeCharacter(x,y){
    		if(selectedCharacter==0){
    			return;
    		}
    		var friendlyFields=document.getElementsByClassName('friendly_field')
    		for(var i=0; i < friendlyFields.length; i++){
    			//console.log(i+
    			if(friendlyFields[i].innerHTML==selectedCharacterName){
    				console.log(i);
    				friendlyFields[i].innerHTML=''
    				arrFriendly[i%5][Math.floor(i/5)]=0
    			}
    		}
    		friendlyFields[x+y*5].innerHTML=selectedCharacterName
    		arrFriendly[x][y]=characters[selectedCharacter-1].character_id;
    	}
    </script>
</head>
<body>
	<table>
		<tr>
			<td class='selector selector_selected'><a
				href="index.php?target=CombatSetup&action=home">Battle</a></td>
			<td class='selector'><a href="index.php?target=Map&action=load">Map</a>
			</td>
			<td class='selector'><a
				href="index.php?target=Inventory&action=load">Inventory</a></td>
			<td class='selector'><a href="index.php?target=Shop&action=load">Shop</a></td>
			<td class='selector'><a
				href="index.php?target=Crafting&action=load">Crafting</a></td>
		</tr>
	</table>
	<a href="index.php?target=CharacterCreate&action=home"
		style="display: block"><input type="button"
		value="Create new character" /></a>
	<br />
	<form name="form" action="index.php?target=Combat&action=initCombat"
		method="POST" onsubmit="makeSetup()">
		<input type="text" id="setup_char" name="characters" hidden="true">
		<input type="text" id="setup_enemy" name="enemies" hidden="true">
		<input type="submit" value="Fight">
	</form>
	<table id='character_list' style="float: left; padding: 5px;">
	</table>
	<table style="float: left; padding: 5px;">
		<tr>
			<td onclick='placeCharacter(0,0)' class='field friendly_field'></td>
			<td onclick='placeCharacter(1,0)' class='field friendly_field'></td>
			<td onclick='placeCharacter(2,0)' class='field friendly_field'></td>
			<td onclick='placeCharacter(3,0)' class='field friendly_field'></td>
			<td onclick='placeCharacter(4,0)' class='field friendly_field'></td>
		</tr>
		<tr>
			<td onclick='placeCharacter(0,1)' class='field friendly_field'></td>
			<td onclick='placeCharacter(1,1)' class='field friendly_field'></td>
			<td onclick='placeCharacter(2,1)' class='field friendly_field'></td>
			<td onclick='placeCharacter(3,1)' class='field friendly_field'></td>
			<td onclick='placeCharacter(4,1)' class='field friendly_field'></td>
		</tr>
		<tr>
			<td onclick='placeCharacter(0,2)' class='field friendly_field'></td>
			<td onclick='placeCharacter(1,2)' class='field friendly_field'></td>
			<td onclick='placeCharacter(2,2)' class='field friendly_field'></td>
			<td onclick='placeCharacter(3,2)' class='field friendly_field'></td>
			<td onclick='placeCharacter(4,2)' class='field friendly_field'></td>
		</tr>
		<tr>
			<td onclick='placeCharacter(0,3)' class='field friendly_field'></td>
			<td onclick='placeCharacter(1,3)' class='field friendly_field'></td>
			<td onclick='placeCharacter(2,3)' class='field friendly_field'></td>
			<td onclick='placeCharacter(3,3)' class='field friendly_field'></td>
			<td onclick='placeCharacter(4,3)' class='field friendly_field'></td>
		</tr>
		<tr>
			<td onclick='placeCharacter(0,4)' class='field friendly_field'></td>
			<td onclick='placeCharacter(1,4)' class='field friendly_field'></td>
			<td onclick='placeCharacter(2,4)' class='field friendly_field'></td>
			<td onclick='placeCharacter(3,4)' class='field friendly_field'></td>
			<td onclick='placeCharacter(4,4)' class='field friendly_field'></td>
		</tr>
	</table>
	<table style="float: left; padding: 5px; display: block;">
		<tr>
			<td onclick='placeEnemy(0,0)' class='field enemy_field'></td>
			<td onclick='placeEnemy(1,0)' class='field enemy_field'></td>
			<td onclick='placeEnemy(2,0)' class='field enemy_field'></td>
			<td onclick='placeEnemy(3,0)' class='field enemy_field'></td>
			<td onclick='placeEnemy(4,0)' class='field enemy_field'></td>
		</tr>
		<tr>
			<td onclick='placeEnemy(0,1)' class='field enemy_field'></td>
			<td onclick='placeEnemy(1,1)' class='field enemy_field'></td>
			<td onclick='placeEnemy(2,1)' class='field enemy_field'></td>
			<td onclick='placeEnemy(3,1)' class='field enemy_field'></td>
			<td onclick='placeEnemy(4,1)' class='field enemy_field'></td>
		</tr>
		<tr>
			<td onclick='placeEnemy(0,2)' class='field enemy_field'></td>
			<td onclick='placeEnemy(1,2)' class='field enemy_field'></td>
			<td onclick='placeEnemy(2,2)' class='field enemy_field'></td>
			<td onclick='placeEnemy(3,2)' class='field enemy_field'></td>
			<td onclick='placeEnemy(4,2)' class='field enemy_field'></td>
		</tr>
		<tr>
			<td onclick='placeEnemy(0,3)' class='field enemy_field'></td>
			<td onclick='placeEnemy(1,3)' class='field enemy_field'></td>
			<td onclick='placeEnemy(2,3)' class='field enemy_field'></td>
			<td onclick='placeEnemy(3,3)' class='field enemy_field'></td>
			<td onclick='placeEnemy(4,3)' class='field enemy_field'></td>
		</tr>
		<tr>
			<td onclick='placeEnemy(0,4)' class='field enemy_field'></td>
			<td onclick='placeEnemy(1,4)' class='field enemy_field'></td>
			<td onclick='placeEnemy(2,4)' class='field enemy_field'></td>
			<td onclick='placeEnemy(3,4)' class='field enemy_field'></td>
			<td onclick='placeEnemy(4,4)' class='field enemy_field'></td>
		</tr>
	</table>
	<table id='enemy_list'
		style="float: left; padding: 5px; display: block; postiton: relative; top: 5px">
		<tr>
			<td onclick='changeCurrentlySelectedEnemy(0)'
				class='selector_selected enemy_selector'></td>
		</tr>
	</table>

</body>
</html>