.selector {
	width: 64px;
	height: 32px;
	text-align: center;
	border: 1px solid black;
}
.selector_selected {
	width: 64px;
	height: 32px;
	text-align: center;
	border: 2px solid black;
}
.field {
	width: 64px;
	height: 64px;
	text-align: center;
	border: 1px solid black;
	border-collapse: collapse;
}